@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #676767;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-b-header.is-open .t-b-header-background {
  left: 0;
}
.t-b-header-button-wrapper {
  margin-left: auto;
}
.t-b-header-icon {
  display: none;
}

.t-b-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-b-navigation-list.is-open {
  right: 0;
}
.t-b-header-icon-menu {
  display: block;
}

.t-b-header-icon-button.is-open .t-b-header-icon-menu {
  display: none;
}

.t-b-header-icon-button.is-open .t-b-header-icon-close {
  display: block;
}

.t-b-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: px;
  background: #123524;
}

.t-b-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #123524;
}
.t-b-header.is-open .t-b-header-background {
  left: 0;
}
.t-b-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-b-header-icon-menu {
  display: block;
}

.t-b-header-icon-button.is-open .t-b-header-icon-menu {
  display: none;
}

.t-b-header-icon-button.is-open .t-b-header-icon-close {
  display: block;
}

.t-b-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.t-b-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 657px;
  transition: 0.3s;
  z-index: 999;
  padding: 40px 32px;
  gap: 22px;
  background: #123524;
}

.t-b-navigation-list.is-open {
  right: 0;
}

.t-b-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #f6f1e9;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.t-b-navigation-link:hover,
.t-b-navigation-link:focus {
  color: #ff6b74;
}

.t-b-header.is-open {
  background-color: transparent;
}

.t-b-navigation-img {
  display: none;
}

@media screen and (min-width: 1208px) {
  .t-b-navigation-img {
    display: flex;
    margin-right: 225px;
  }
  .t-b-header-icon-title {
    display: none;
  }
  .t-b-header-button-wrapper {
    display: none;
  }
  .t-b-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .t-b-header-background {
  }
  .t-b-header-icon-button {
    display: none;
  }
  .t-b-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-b-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;

    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-b-navigation-link {
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .t-b-navigation-item-desk {
    display: none;
  }
}
.t-b-home {
  margin: auto;
  padding-top: 56px;
  background: #d0e0c3;
}
.t-b-home-container {
  width: 375px;

  padding: 377.5px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
  height: 756px;
}

.t-b-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.t-b-home-title {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0%;
  color: #202c17;
}

.t-b-home-text {
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 24px 0 8px;
  color: #202c17;
}
.t-b-home-text-two {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-b-home-link {
  display: block;
  width: 343px;
  height: 56px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: #ff6b74;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #f6f1e9;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 24px;
}

.t-b-home-link:hover {
  background: #dc575f;
}

@media screen and (min-width: 1208px) {
  .t-b-home {
    background: #d0e0c3;

    padding: 0;
  }
  .t-b-home-container {
    width: 1440px;
    padding: 248px 88px 0px;
    height: 800px;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }
  .t-b-home-container-top {
    display: flex;
    flex-direction: column;
    width: 616px;
  }

  .t-b-home-title {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    leading-trim: NONE;
    line-height: 64px;
    letter-spacing: 0%;
  }

  .t-b-home-text {
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 32px 0 16px;
  }
  .t-b-home-text-two {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-b-home-link {
    margin-top: 56px;
    width: 179px;
    height: 56px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
.t-b-about {
  background: #f9f8f4;

  margin: auto;
}
.t-b-about-container {
  width: 375px;
  height: 536px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about_section.png");
  padding: 246px 16px 0px;
  margin: auto;
}
.t-b-about-title {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #202c17;
}
.t-b-about-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0;
}

.t-b-about-text-bold {
  font-family: Nunito;
  font-weight: 400;
  font-style: Italic;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .t-b-about {
  }
  .t-b-about-container {
    width: 1440px;
    height: 708px;
    background-image: url("/img/about_section\ \(1\).png");
    padding: 400px 412px 0;
  }
  .t-b-about-title {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-b-about-text {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-b-about-text-bold {
    font-family: Nunito;
    font-weight: 400;
    font-style: Italic;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.t-b-why {
  margin: auto;
  width: 375px;
  height: 2874px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/pack_service_section.png");
}

.t-b-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.t-b-why-text-one {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}
.t-b-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.t-b-why-item {
  width: 343px;
}
.t-b-why-img {
  width: 343px;
  height: 340px;
  object-fit: cover;
  object-position: center;
}
.t-b-why-item-two {
  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #4c4c4c14;
  width: 294px;
  padding: 24px;
  margin-top: -68px;
  position: relative;
  z-index: 1;
}
.t-b-why-text-bold {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  color: #202c17;
}
.t-b-why-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 16px;
}
.t-b-why-item-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  margin-top: -40px;
}
@media screen and (min-width: 1208px) {
  .t-b-why {
    width: 1440px;
    height: 2066px;
    background-image: url("/img/why/pack_service_section\ \(1\).png");
  }
  .t-b-why-container {
    width: 1440px;
    padding: 100px 88px;
  }
  .t-b-why-text-one {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 616px;
    margin: 0 auto;
    padding-top: 16px;
  }
  .t-b-why-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
  }
  .t-b-why-item {
    width: 600px;
  }
  .t-b-why-img {
    width: 600px;
    height: 340px;
  }
  .t-b-why-item-two {
    width: 508px;
    padding: 24px;

    margin-top: -68px;
    position: relative;
    z-index: 1;
  }
  .t-b-why-text-bold {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .t-b-why-text {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-b-why-item-text {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    width: 600px;
    margin-top: 0px;
  }
  .t-b-why-item-t {
    margin-top: 140px;
  }
}

.t-b-uniqueness {
  background: #d0e0c3;
}
.t-b-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
}
.t-b-uniqueness-text-bold {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}
.t-b-uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.t-b-uniqueness-item {
  width: 292px;
  gap: 24px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #4c4c4c14;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.t-b-uniqueness-img {
  width: 80px;
  height: 80px;
}

.t-b-uniqueness-text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .t-b-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 580px;
    background-image: url("/img/uniqueness/servisec_section.png");
    padding: 100px 88px;
  }
  .t-b-uniqueness-text-bold {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-b-uniqueness-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .t-b-uniqueness-text {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.t-b-how {
  margin: auto;
  width: 375px;
  height: 888px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About_section\ \(2\).png");
}
.t-b-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px 0;
}
.t-b-how-list {
  padding-top: 270px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1208px) {
  .t-b-how {
    width: 1440px;
    height: 823px;
    background-image: url("/img/About_section\ \(3\).png");
  }
  .t-b-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 88px;
  }
  .t-b-how-list {
    padding-top: 76px;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: auto;
    width: 508px;
  }
}

.t-b-characters {
  margin: auto;
  background: linear-gradient(0deg, #d0e0c3, #d0e0c3),
    linear-gradient(0deg, rgba(208, 224, 195, 0.9), rgba(208, 224, 195, 0.9));
}
.t-b-characters-container {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
  height: 1062px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/client_section.png");
}
.t-b-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  gap: 32px;
}
.t-b-characters-item {
  width: 343px;
  height: 183px;
}
.t-b-characters-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.t-b-characters-text {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 19px;
}

@media screen and (min-width: 1208px) {
  .t-b-characters-container {
    padding: 100px 88px;
    margin: auto;
    width: 1440px;
    height: 563px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/characters/client_section\ \(1\).png");
  }
  .t-b-characters-list {
    display: flex;
    flex-direction: row;
    padding-top: 76px;
    gap: 32px;
  }
  .t-b-characters-item {
    width: 292px;
    height: 183px;
  }

  .t-b-characters-text {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 19px;
  }
}

.t-b-reviews {
  margin: auto;
  width: 375px;
  height: 542px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/reviews_section.png");
}
.t-b-reviews-container {
  margin: auto;
  padding: 60px 16px 0;
  width: 375px;
}
.t-b-reviews-list {
  padding-top: 40px;
}

.t-b-reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 354px;
}
.t-b-reviews-text {
  width: 343px;
  height: 270px;
  padding-top: 80px;
  padding-right: 24px;
  padding-bottom: 80px;
  padding-left: 24px;
  background: #ffffff;
  box-shadow: 0px 8px 20px 0px #43434314;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.t-b-reviews-item-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: -40px;
}
.t-b-reviews-img {
  width: 80px;
  height: 80px;
}
.t-b-reviews-text-bold {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #202c17;
}

@media screen and (min-width: 1208px) {
  .t-b-reviews {
    width: 1440px;
    height: 656px;
    background-image: url("/img/reviews/reviews_section\ \(1\).png");
  }
  .t-b-reviews-container {
    margin: auto;
    padding: 100px 88px;
    width: 1440px;
  }
  .t-b-reviews-list {
    padding-top: 76px;
  }

  .t-b-reviews-item {
    margin: 0 16px;
    width: 616px;
    height: 316px;
  }
  .t-b-reviews-text {
    width: 616px;
    height: 232px;
    padding-top: 80px;
    padding-right: 24px;
    padding-bottom: 80px;
    padding-left: 24px;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-b-reviews-text-bold {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-b-faq {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/faq/FAQ_section_375_px.png");
}
.t-b-faq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.t-b-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-b-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f9fb;
  gap: 16px;
  padding: 16px;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #202c17;
  transition: all 0.3s ease;
}
.t-b-faq-answer.open + .t-b-faq-question,
.t-b-faq-question.open {
  background: #ff6b74;
  color: #ffffff;
}

.t-b-faq-answer {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 10px 40px 10px 16px;
}
.t-b-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-b-toggle-button img {
  transition: transform 0.6s ease;
  width: 24px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
}
.t-b-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.t-b-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.t-b-toggle-button img.rotated {
  transform: rotate(360deg);
}
@media screen and (min-width: 1208px) {
  .t-b-faq {
    width: 1440px;
    background-image: url("/img/faq/FAQ_section_1440\ px.png");
  }
  .t-b-faq-container {
    padding: 100px 88px;
    width: 1440px;
    margin: auto;
  }
  .t-b-faq-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .t-b-faq-question {
    width: 616px;
    padding: 16px;
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-b-faq-answer {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    width: 616px;
    padding: 10px 40px 10px 16px;
  }
}
.t-b-gallery {
  margin: auto;
  width: 375px;
  height: 1022px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/platform_section.png");
}
.t-b-gallery-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.t-b-gallery-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.t-b-gallery-item {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #4c4c4c14;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.t-b-gallery-item-text {
  color: inherit;
  text-decoration: none;
}
.t-b-gallery-image {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 1208px) {
  .t-b-gallery {
    width: 1440px;
    height: 540px;
    background-image: url("/img/gallery/platform_section\ \(1\).png");
  }
  .t-b-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 88px;
  }

  .t-b-gallery-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .t-b-gallery-item {
    width: 292px;
    height: 200px;
    gap: 24px;
    padding: 24px;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-b-gallery-item-text {
    color: inherit;
    text-decoration: none;
  }
  .t-b-gallery-image {
    width: 80px;
    height: 80px;
  }
}

.t-b-features {
  margin: auto;
  width: 375px;
  height: 594px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/Main\ Container.png");
}

.t-b-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.t-b-features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 262px;
}
.t-b-features-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-b-features-img {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1208px) {
  .t-b-features {
    width: 1440px;
    margin: auto;
    height: 759px;
    background-image: url("/img/features/Main\ Container\ \(1\).png");
  }
  .t-b-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 0px;
  }
  .t-b-features-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 193.5px;
    padding-left: 952px;
  }
  .t-b-features-item {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.t-b-new {
  background: #d0e0c3;
}

.t-b-new-container {
  background: #d0e0c3;

  width: 375px;
  margin: auto;
  padding: 60px 16px;
}

.t-b-new-list {
  display: flex;
  flex-direction: row;
  gap: 61px;
}

.t-b-footer-img {
  width: 40px;
  height: 40px;
}

.t-b-new-text {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #ff6b74;
  padding-top: 30px;
}
@media screen and (min-width: 1208px) {
  .t-b-new {
    background: #d0e0c3;
  }

  .t-b-new-container {
    background-image: url("/img/footer/Frame\ 336.png");

    width: 1440px;
    margin: auto;
    padding: 100px 466px;
  }

  .t-b-new-list {
    display: flex;
    flex-direction: row;
    gap: 116px;
  }

  .t-b-new-text {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
  }
}
.t-b-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #202c17;
}

.t-b-container h1 {
  font-family: Fraunces;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 40px;
}

.t-b-container h2 {
  margin-top: 16px;
  font-family: Fraunces;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
}

.t-b-container h3 {
  margin-top: 16px;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-b-container ul {
  margin-top: 8px;
  list-style-type: disc;
  margin-left: 20px;
}

.t-b-container ul li {
  margin-bottom: 8px;
}
.t-b-container p {
  margin-top: 8px;
}
.t-b-container a {
  text-decoration: none;
  color: #005dff;
  transition: all 0.3s ease-in-out;
}

.t-b-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1208px) {
  .t-b-container {
    padding: 152px 212px 96px;
    width: 1440px;
    margin: auto;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-b-container h1 {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 64px;
    letter-spacing: 0%;
  }

  .t-b-container h2 {
    font-family: Fraunces;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .t-b-container h3 {
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-b-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: #123524;
  color: #ffffffcc;
}

.t-b-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.t-b-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.t-b-footer-copyright {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .t-b-footer-container {
    width: 1440px;
    padding: 48px 199px;

    align-items: stretch;
    gap: 60px;
  }

  .t-b-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .t-b-footer-text {
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-b-footer-copyright {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-b-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #f5f5f5;

  z-index: 1000;
  display: none;
}

.t-b-cookie-popup-text-two {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #121212;
}

.t-b-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-b-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #121212;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 343px;
  height: 56px;

  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.t-b-cookie-button:hover {
  background: #121212;
  color: #fffaf4;
}
#accept-cookies {
  background: #5db996;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  color: #ffffff;
}

#accept-cookies:hover {
  background: #468d72;
}
.t-b-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1208px) {
  .t-b-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .t-b-cookie-popup-text-two {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 808px;
  }

  .t-b-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .t-b-cookie-button {
    width: 184px;
    height: 56px;
  }
  .t-b-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
}
